dentista.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Row">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="A" use="optional"/>
          <xs:attribute type="xs:string" name="B" use="optional"/>
          <xs:attribute type="xs:string" name="C" use="optional"/>
          <xs:attribute type="xs:string" name="D" use="optional"/>
          <xs:attribute type="xs:string" name="E" use="optional"/>
          <xs:attribute type="xs:string" name="F" use="optional"/>
          <xs:attribute type="xs:string" name="G" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Record">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Row"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Records">
    <xs:annotation>
      <xs:documentation>Generated by abcexcel</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Record" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>