dentista.dtd

<!ELEMENT Record (#PCDATA | Row)*>
<!ELEMENT Row (#PCDATA)>
<!ATTLIST Row A CDATA #IMPLIED>
<!ATTLIST Row B CDATA #IMPLIED>
<!ATTLIST Row C CDATA #IMPLIED>
<!ATTLIST Row D CDATA #IMPLIED>
<!ATTLIST Row E CDATA #IMPLIED>
<!ATTLIST Row F CDATA #IMPLIED>
<!ATTLIST Row G CDATA #IMPLIED>
<!ELEMENT Records (#PCDATA | Record)*>
